@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@model  TaawonMVC.Web.Models.PropertyOwnership.PropertyOwnershipViewModel
@{
    ViewBag.Title = "PropertyOwnership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Html.IncludeScript("~/Views/PropertyOwnership/Index.js")
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("PropertyOwnership")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("PropertyOwnershipName")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var propertyOwnership in Model.PropertyOwnerships)
                        {
                            <tr>
                                <td>@propertyOwnership.propertyOwnershipName</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-propertyOwnership" data-propertyOwnership-id="@propertyOwnership.Id" data-toggle="modal" data-target="#PropertyOwnershipEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-propertyOwnership" data-propertyOwnership-id="@propertyOwnership.Id" data-propertyOwnership-name="@propertyOwnership.propertyOwnershipName"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#propertyOwnershipCreateModal">
                        <i class="material-icons">add</i>
                    </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="propertyOwnershipCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewpropertyOwnership")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="propertyOwnershipCreateForm" role="form" novalidate class="form-validation">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#create-user-details" data-toggle="tab">Property Ownership Details</a></li>

                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-user-details">
                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" type="text" name="PropertyOwnershipName" id="PropertyOwnershipName" required maxlength="255" minlength="2">
                                            <label class="form-label">@L("PropertyOwnershipName")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PropertyOwnershipEditModal" tabindex="-1" role="dialog" aria-labelledby="UserEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">





        </div>
    </div>
</div>


